.top-nav {
  width: 100%;
  height: 45px;
background-color: #e6e6e6;
position: fixed;

}
.top-nav-btn {
  float: right;
  text-align: center;
  /*padding-top: 8px;*/
  font-size: 18px;
  padding: 8px;
  /*border-left: 1px solid #000000;*/
  /*padding-right: 10px;*/

}
#logoutBtn {
  /*display: none;*/
}
.top-nav-dropdown {
  float: right;
    width: 10%;
    margin-top: 5px;
    height: 35px;
    font-size: 14px;
}
.nav-wrapper {
  background-color: #29ABE2 !important;
}
.nav-logo {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  margin-top: -30px;
  margin-right: 40px;
}
.join-button {
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 30px;
  background-color: #b71313;
}
.join-button:hover {
  background-color: #910303;
  /*background-image: url('../images/joinNowIconHover.png')*/
  /*background-color: rgba(0, 0, 0, 0.8);*/

}
.nav-button {
  font-size: 22px;
}
.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.nav-slider {
  height: 220px !important;
margin-top: 45px;
}

.carousel .carousel-item > img {
  height: 220px;
  /*background-size: contain;*/
}

#sidenav-overlay {
  z-index: 996 !important;
}

@media only screen and (min-width: 950px) {
    .mobile-btn {
      display: none;
    }
    .mobile-banner img {
      display: none !important;
    }
    /*.mobile-banner a {
      display: none;
    }*/
}
@media only screen and (max-width: 350px) {
  .contact-img {
    width: 85px !important;
    /*width: 2% !important;*/
    margin-left: 0px !important;
    margin-top: 10px !important;
    /*margin-bottom: 20px;*/
    /*height: 85px !important;*/
  }
  .contact-member {
    font-size: 18px !important;
  }
  .member {
    font-size: 10px !important;
  }
  .contact-info {
    font-size: 10px !important;

  }
  .nav-logo {
    /*display: n*/
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    margin-top: -35px;
    margin-left: 10px;
    /*margin-bottom: 50px;*/
  }
  .join-button {
    font-size: 15px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  /*.mobile-banner {
    display: block;
  }*/

}
@media only screen and (max-width: 450px) {
  .contact-img {
    /*width: 85px !important;*/
    /*width: 2% !important;*/
    margin-left: 0px !important;
    margin-top: 10px !important;
    /*margin-bottom: 20px;*/
    /*height: 85px !important;*/
  }
  .contact-member {
    font-size: 20px !important;
  }
  .member {
    font-size: 12px !important;
  }
  .contact-info {
    font-size: 12px !important;

  }
  .nav-logo {
    /*display: n*/
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    margin-top: -35px;
    margin-left: 10px;
    /*margin-bottom: 50px;*/
  }
  .join-button {
    font-size: 15px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  /*.mobile-banner {
    display: block;
  }*/

}
@media only screen and (max-width: 800px) {
  .detail-leader-img {
    display: none;
  }
  .detail-leader {
    font-size: 25px !important;
    text-align: left !important;
    padding-left: 10px !important;
  }
  .detail-leader-container {
    /*font-size: 15px !important;*/
    /*margin: 0 auto !important;*/
    float: left !important;
  }
  .detail-container div {
    bottom: 0 !important;
  }
  .detail-container .material-icons {
    display: none;
  }
  .detail-leader-contact {
    text-align: left !important;
    padding-left: 10px !important;
    font-size: 25px !important;
  }
  .detail-date {
    font-size: 20px !important;
    position: static !important;
    bottom: 0px !important;
  }
  .detail-title {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 650px) {
  .event-details {
    margin: 0 auto !important;
  }
  .contact-img {
    width: 85px !important;
    /*width: 2% !important;*/
    margin-left: 10px !important;
    /*margin-top: 10px !important;*/
    /*margin-bottom: 20px;*/
    height: 85px !important;
  }
  .contact-member {
    font-size: 20px !important;
  }
  .member {
    font-size: 12px !important;
  }
  .contact-info {
    font-size: 12px !important;

  }
  .nav-logo {
    /*display: n*/
    width: 150px;
    height: 150px;
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*margin-top: -35px;*/
    /*margin-left: 10px;*/
    /*margin-bottom: 50px;*/
  }
  .join-button {
    /*font-size: 15px !important;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
  }
}
