body {
  background: url('../images/background2.jpg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.bold {
  font-weight: 600;
}
#homeText {
  font-size: 105%;
  background-color: white;
  /*width: 90vw;*/

}
.image {

/*height: 400px;*/
height: 40%;
width: 100%;
margin-top: 10px;
}

#joinText {
  font-size: 105%;
  background-color: white;
}
#newsletterText {
  font-size: 105%;
  background-color: white;
}
#programText {
  font-size: 105%;
  background-color: white;
}
.logo {
/*height: 150px;*/
margin-bottom: 5%;
/*width: 100px;*/
}
.block {
  height: 100vh;
  /*width: 87vw !important;*/
}
.section1 {
  height: 10vh;
  width: 100vw;
}
.logo-container {
  height: 1vh;
}
