body {
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: #e6e6e6;
  /*overflow-y: scroll;*/
}
.row .col.cal1 {
  width: 14.2857142857%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.cal-block {
  border: 1px solid black;
  height: 150px;
}
input:focus:not([read-only]) {
	border-bottom: none!important;
	box-shadow: none!important;
  margin-bottom: 0px !important
}
.customSwalBtn{
		background-color: #29ABE2 !important;
    /*border-left-color: rgba(214,130,47,1.00);*/
    /*border-right-color: rgba(214,130,47,1.00);*/
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #333333 !important;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 30px 5px 0px 5px;
    padding: 10px 32px;
	}

.loginContainer {
  margin: 15%;
}
.about-us-title {
  color: black;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  width: 200px;
  border-bottom: 2px solid black;
}
.about-us-text {
  /*padding: 20px;*/
  padding-top: 20px;
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
  font-size: 18px;
  margin: auto;
  width: 75%;
  text-align: left;
}
.facebookIconContainer {
  width: 150px;
  padding-top: 20px;
  height: 50px;
  margin: auto;
  margin-bottom: 5  0px !important;
}
.facebookIcon {
  width: 100%;
}
.homepage-image-container {
  width: 100%;
  margin-top: 50px;
}
.homepage-image1 {
  width: 100%;
  /*height: 200px;*/
}
.homepage-image2 {
  width: 100%;
}
.homepage-image3 {
  width: 100%;
}


.calendar-btn {
  text-align: center;
  margin: 30px !important;
  width: 10% !important;
  background-color: #29ABE2;
  padding: 10px !important;
  margin-bottom: -10px !important;
}
.calendar-btn-selected {
  color: white;
  background-color: #910303;
  text-align: center;
  margin: 30px !important;
  width: 10% !important;
  padding: 10px !important;
  margin-bottom: -10px !important;
}
.calendar-container {
  margin-left: 6%;
  margin-bottom: 20px !important;
  /*position: absolute;*/
  /*left: 5%;*/
  /*display: block;*/
  /*margin: auto !important;*/
}

.event-container {
  background-color: #ffffff;
  width: 80%;
  margin: auto;
  margin-bottom: 20px !important;
  padding: 10px;
}
.event-title {
  font-size: 20px;
  font-weight: bold;
}
.event-activity {
  color: #666666;
  font-size: 18px;
}
.event-details {
  float: right;
  background-color: #910303;
  width: 130px;
  color: white;
  height: 35px;
  font-size: 20px;
  /*height: 50px;*/
  padding-top: 2px;
  margin-top: 10px;
  text-align: center;
  /*padding: 10px 5px 10px 10px;*/
  margin-right: 25px;
}
.event-date {
  display: inline-block;
  position: relative;
  bottom: 2;
  margin-left: 10px;
  font-size: 22px;
}
